<div class="text-right mb-2">
    <button class="btn btn-primary" (click)="showModal()">Add</button>
</div>

 
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Major</h4>
        <button type="button" class="close pull-right" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="">Major name</label>
          <input type="text" name="" id="" [(ngModel)]="major.name" class="form-control" placeholder="name">
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" (click)="save()">{{major.id===undefine || major.id===0 ? 'Add':'Save'}}</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #deletemodal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Major</h4>
        <button type="button" class="close pull-right" (click)="deletemodal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>

      <div class="modal-footer">
          <button class="btn btn-success" (click)="deleteConfirm()">Yes</button>
          <button class="btn btn-secondary" (click)="deletemodal.hide()">No</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped table-hover table-bordered">
  <thead class="">
    <tr>
      <th>Major name</th>
      <th style="width: 70px;"></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of majors">
        <td>{{row.name}}</td>
        <td>
          <a href="#" (click)="showModal($event,row.id)"><i class="fa fa-edit"></i></a>
          <a href="#" (click)="delete($event,row.id)"><i class="fa fa-remove text-danger"></i></a>
        </td>
      </tr>
    </tbody>
</table>